<launch>

  <!--

    Launch basic parts of the DD2419 components

      - USB video receiver (libuvc_camera)
      - Image rectification (imageproc)
      - ArUco detector (aruco_ros)
      - Crazyflie communication (crazyflie_ros)
      - TF publisher for Crazyflie pose

    Start by either giving the ch argument or the uri argument. If your
    Crazyflie is on channel 92 for example, it would probably be easiest to run

        roslaunch dd2419_launch base.launch ch:=91 world_name:=joakim

  -->

  <arg name="marker_size"       default="0.175"/>    <!-- in m -->
  <arg name="ch"/>
  <arg name="uri"               default="radio://0/$(arg ch)/2M" />
  <arg name="world_name"/>

  <arg name="use_camera"    default="1"/>
  <arg name="use_aruco"     default="1"/>
  <arg name="use_crazyflie" default="1"/>

  <group ns="cf1/camera" if="$(arg use_camera)">
    <node pkg="libuvc_camera" type="camera_node" name="camera" output="screen">
      <!-- Parameters used to find the camera. Set to empty string to disable,
           otherwise old parameters will linger in ROS. -->
      <param name="vendor" value="0x18ec"/>
      <param name="product" value=""/>
      <!--param name="product" value="0x3399"/-->
      <param name="serial" value=""/>
      <param name="index" value="0"/>
      
      <!-- Image size and type -->
      <param name="width" value="640"/>
      <param name="height" value="480"/>
      <param name="video_mode" value="mjpeg"/>
      <param name="frame_rate" value="15"/>
      
      <param name="timestamp_method" value="start"/>
      <param name="camera_info_url" value="file://$(find dd2419_launch)/calibration/camera.yaml"/>

      <!-- Values defined at https://ken.tossell.net/libuvc/doc/group__ctrl.html#gaa583133ed035c141c42061d5c13a36bf -->
      <param name="auto_exposure" value="2" />
      <param name="auto_exposure_priority" value="0" />
      <param name="brightness" value="128" />
      <param name="gain" value="16" />
      <param name="auto_white_balance" value="true" />
    </node>
  </group>

  <node pkg="image_proc" type="image_proc" name="image_proc" if="$(arg use_camera)">
    <remap from="image_raw"        to="/cf1/camera/image_raw"/>
    <remap from="camera_info"      to="/cf1/camera/camera_info"/>
    <remap from="image_mono"       to="/cf1/camera/image_mono"/>
    <remap from="image_color"      to="/cf1/camera/image_color"/>
    <remap from="image_rect"       to="/cf1/camera/image_rect"/>
    <remap from="image_rect_color" to="/cf1/camera/image_rect_color"/>
  </node>

  <node pkg="aruco_ros" type="marker_publisher" name="aruco" output="screen" if="$(arg use_aruco)">
    <remap from="/camera_info" to="/cf1/camera/camera_info" />
    <remap from="/image"       to="/cf1/camera/image_raw" />
    <param name="image_is_rectified" value="false"/>
    <param name="marker_size"        value="$(arg marker_size)"/>
    <!-- frame in which the marker pose will be refered, leave empty and the
         pose will be published wrt param parent_name -->
    <param name="reference_frame"    value=""/>
    <param name="camera_frame"       value="cf1/camera_link"/>
  </node>

  <node pkg="crazyflie_driver" type="crazyflie_server" name="crazyflie_server" output="screen" if="$(arg use_crazyflie)">
    <remap from="/add_crazyflie" to="/cf1/add_crazyflie"/>
  </node>
  <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen" if="$(arg use_crazyflie)">
    <param name="uri" value="$(arg uri)" />
    <param name="tf_prefix" value="cf1" />
    <param name="roll_trim" value="0" />
    <param name="pitch_trim" value="0" />
    <param name="enable_logging" value="true" />
    <param name="use_ros_time" value="true" />
    <param name="enable_logging_imu" value="true" />
    <param name="enable_logging_temperature" value="true" />
    <param name="enable_logging_magnetic_field" value="true" />
    <param name="enable_logging_pressure" value="true" />
    <param name="enable_logging_battery" value="true" />
    <param name="enable_logging_packets" value="true"/>
    <remap from="add_crazyflie" to="/cf1/add_crazyflie"/>
  </node>

  <!-- Make world visible in Rviz -->
  <node name="world_publisher" pkg="dd2419_simulation" type="world_publisher.py" output="screen">
    <param name="json_file" value="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json"/>
  </node>

  <!-- Static transforms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="cf_camera_trans" args="0 0 0.02 -1.54 0 -1.54 cf1/base_link cf1/camera_link" if="$(arg use_crazyflie)" />
  <!--   <node pkg="tf2_ros" type="static_transform_publisher" name="cf_camera_trans" args="0 0 0.02 -1.57 -1.57 3.14 cf1/base_link cf1/camera_link" if="$(arg use_crazyflie)" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="test" args="1 1 0 0 0 0 1 cf1/base_link cf1/odom" if="$(arg use_crazyflie)" /> -->
  <node pkg="localisation" type="display_markers_map.py" name="display_markers_map" args="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json" />
  <node pkg="localisation" type="display_landmarks_map.py" name="display_landmarks_map" args="$(find dd2419_resources)/worlds_json/$(arg world_name).world.json" />

  <!-- Dynamic transforms -->
  <node pkg="localisation" type="base_link_publisher.py" name="base_link_publisher" />
  <node pkg="localisation" type="base_stabilized_publisher.py" name="base_stabilized_publisher" />
  <node pkg="localisation" type="base_footprint_publisher.py" name="base_footprint_publisher" />
  <!--   <node pkg="topic_tools" type="transform" name="base_link_publisher" args="/cf1/pose /tf tf/tfMessage '[[geometry_msgs.msg.TransformStamped(m.header, &quot;cf1/base_link&quot;, geometry_msgs.msg.Transform(m.pose.position, m.pose.orientation))]]' -i geometry_msgs" /> -->

  <!-- Launch Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find localisation)/config_file.rviz" />

  <!-- Localisation nodes -->
  <node pkg="localisation" type="odom_publisher.py" name="odom_publisher"/> <!-- Data association and map->odom calculation -->
  <node pkg="localisation" type="sign_odom_publisher.py" name="sign_odom_publisher" output="screen"/> <!--map->odom calculations for traffic signs-->
<!--   <node pkg="localisation" type="kf.py" name="kf"/>  --><!-- Kalman filter -->
<!--   <node pkg="localisation" type="kf2.py" name="kf2" output="screen"/> -->
  <node pkg="localisation" type="kf4.py" name="kf4"/>
  <node pkg="localisation" type="actual_odom_publisher.py" name="actual_odom_publisher" /> <!-- Broadcasts map->odom -->
  <node pkg="localisation" type="detect_marker.py" name="detect_marker" />
    <node pkg="localisation" type="sign_publisher.py" name="sign_publisher"/>

  <!-- Perception nodes -->
  <node pkg="perception" type="detection.py" name="detection" output="screen"/>
 

  <!-- Utility nodes -->
  <node pkg="utilities" type="battery_check.py" name="battery_check" output="screen"/>

</launch>
